[user]
        name = tom
        email = tom@ohhhh.me
	signingkey = 231A4E12A6B50129
[core]
        editor = vim
[alias]
        st = status
        br = branch
        last = log -1 HEAD
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
        ch = checkout
        rh = reset --hard
        cl = clean -f -d
        fa = fetch --all
        rom = pull --rebase origin main
[filter]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
